@charset "UTF-8";

/* トップページへ戻るが滑らかになるcommomに追加したい */
html {
  scroll-behavior: smooth;
}




/* -----header----- */

/* ---ナビ作成 共通--- */
/* -----header----- */

/* -----main----- */

main nav ul {
  display: flex;
}


/* -----main-----*/

/* -----------------見出し 共有-------------------------------------*/
/* 疑似要素の親 */
.Midashi {
  font-size: 20px;
  text-align: center;
  margin-bottom: 48px;
}

.Midashi span {
  font-size: 12px;
}

.Midashiimg {
  position: relative;
  height: 0.5px;
  /* 見出しの基準位置変更場所％で指定してください------- */
  left: 50%;
  /* --------------------------------------------------- */
  width: 100%;
}

/* ********************************************* */
main div.kasou-main {
  margin: 0 auto;
}

h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.3em;
  margin-bottom: 20px;
}

main div.kasou-main img {
  width: 100%;
  margin-bottom: 20px;
}

.attraction p {
  background-color: rgba(108, 186, 216, 0.2);
  font-size: 12px;
  line-height: 19.2px;
  padding: 20px 16px;
  margin-bottom: 20px;
  text-align: left;
}

.night-market p {
  padding: 12px 0;
  line-height: 19.2px;
  font-size: 12px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 66px;
}

main div.kasou-main p.attraction-exs {
  margin-bottom: 60px
}

.att-sub {
  width: 100%;
  display: flex;
  gap: 4%;
  justify-content: center;
}

.att-sub img>* {
  max-width: 45.4%;
}

.att-sub img {
  /* aspect-ratio: 2/3;
object-fit: cover; 
display: block; */
}

/*section　access */

.access p {
  text-align: center;
  padding: 12px 0;
  line-height: 19.2px;
  font-size: 12px;
  border-bottom: 1px solid #000;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 66px;
  margin-bottom: 20px;
}

.access dl {
  width: 100%;
  text-align: left;
}

.access dt dd {
  display: block;
  padding: 12px 0;
  line-height: 19.2px;
  font-size: 12px;
  margin: 20px;
}

.access dt img {
  width: 26.6%;
}



/* ********************************************* */














/* ※背景画像の変更場所※ */
@media screen and (min-width: 767px) {

  /* ---ナビ作成 共通--- */
  /* -----header----- */

  /* -----main----- */


  h3 {
    font-size: 24px;
    font-weight: bold;
  }



  .att {
    width: 100%;
    background-color: rgba(108, 186, 216, 0.2);
  }

}

/* -----main----- */