@charset "UTF-8";

/* トップページへ戻るが滑らかになるcommomに追加したい */
html {
  scroll-behavior: smooth;
}




/* -----header----- */

/* ---ナビ作成 共通--- */
/* -----header----- */

/* -----main----- */

main nav ul {
  display: flex;
}


/* -----main-----
main.kasou {
  max-width: 375px;
  padding: 0px 40px;
} */

h3 {
  font-size: 36px;
}



/* ※背景画像の変更場所※ */


/* ---ナビ作成 共通--- */
/* -----header----- */

/* -----main----- */
/* .kasou {
  max-width: 1366px;
  padding: 103px;

} */

h3 {
  font-size: 24px;
  font-weight: bold;
}

.kugiri {
  display: block;
  margin: 0 auto;
  max-width: 420px;
  border-top: 1px solid #000000;
}

/* -----main----- */