@charset "UTF-8";


header {
  /* height: 82vh;
   */
  height: 667px;
}

main {
  margin: 0;
}

/* section1 bg調整 */
#Formosa1 {
  background: url(../../top/image/intro_img01_bg.jpg) no-repeat;
  background-size: cover;
  padding-top: 60px;
  text-align: center;
  height: 408px;
}

/* イントロ写真調整 */
#formosaimg {
  display: lnline-block;
  width: 35px;
  height: 24px;
}

.introimg {
  display: block;
  margin: auto;
  width: 89%;
  max-width: 500px;
  height: 140px;
}

#Formosa1 h2 {
  margin: 40px 0 20px 0;
  font-size: 20px;
}

#Formosa1 h3 {
  font-size: 12px;
  display: inline-block;
  border-bottom: 2px solid #000;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

/* フォルモサ下部 */
#Formosa2 {
  background-image: url(../../top/image/intro_img02_bg.jpg);
  background-size: cover;
  text-align: center;
  height: 400px;
}

#Formosa2 p {
  display: inline-block;
  width: 225px;
  font-size: 12px;
  margin: 60px 0 20px 0;
  padding: 12px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 19.2px;
}

/* -----------------見出し 共有-------------------------------------*/
/* 疑似要素の親 */
#Midashi {
  font-size: 24px;
  text-align: center;
  margin-bottom: 48px;
}

#Midashi span {
  font-size: 12px;
}

#Midashiimg {
  position: relative;
  display: inline;
  height: 0.5px;
  left: 50%;
  width: 100%;

}

#Midashiimg::before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: url(../../common/image/h2_bg.png);
  background-size: contain;
  width: 220px;
  height: 40px;
  top: -8px;
  left: -110px;

}

/* ----------------------------------------------------- */
#section2 {
  margin-top: 68px;
}

#slide1img {
  display: list-item;
  width: 300px;
  margin: 0 auto;
}

#section3 h2 {
  text-align: center;
  font-size: 24px;
}

#section3 span {
  font-size: 12px;
}

/* section3 */

#Midashi2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 48px;
}

#Midashi2 span {
  font-size: 12px;
}

#Midashiimg2 {
  position: relative;
  display: inline;
  height: 0.5px;
  left: 50%;
  width: 100%;
}

#Midashiimg2::before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: url(../../common/image/h2_bg.png);
  background-size: contain;
  width: 220px;
  height: 40px;
  top: -8px;
  left: -110px;
}

#section3 p {
  padding: 12px 0;
  line-height: 19.2px;
  font-size: 12px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 42px;
}

#section3 img {
  display: block;
  margin: auto;
  margin-top: 20px;
}

/* section3map */

#section3 #images {
  display: inline-block;
  position: relative;
}

#p{
  text-align: center;
}
#map {
  display: inline-block;
  width: 194px;
  height: 381px;
}

#taipei {
  position: absolute;
  width: 57px;
  height: 121px;
  top: 23px;
  left: 165px;
}

#taityun {
  position: absolute;
  width: 57px;
  height: 121px;
  top: 88px;
  left: -18px;
}

#tainan {
  position: absolute;
  width: 57px;
  height: 121px;
  top: 275px;
  left: 55px;
}

/* section4 */

#Midashi3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 48px;
}

#Midashi3 span {
  font-size: 12px;
}

#Midashiimg3 {
  position: relative;
  display: inline;
  height: 0.5px;
  left: 50%;
  width: 100%;
}

#Midashiimg3::before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: url(../../common/image/h2_bg.png);
  background-size: contain;
  width: 220px;
  height: 40px;
  top: -8px;
  left: -110px;
}
#rantan{
  text-align:center;
}
#countdown{
  text-align: center;
}

#section4 h2 {
  margin-top: 106px;
  text-align: center;
  font-size: 24px;
}

#section4 span {
  font-size: 12px;
}

#section4 h3 {
  font-size: 20px;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}

.eventimg {
  display: block;
  width: 335px;
  height: 194px;
  margin-top: 20px;
  margin: 0 auto;
}

#eventimg2 {
  display: block;
  width: 335px;
  height: 194px;
  margin-top: 20px;
  margin: 0 auto;
}

#section4 h4 {
  font-size: 12px;
  font-weight: bold;
  margin: 20px 0 8px;
}

.setumei1 {
  font-size: 12px;
  margin-bottom: 12px;
}

.setumei2 {
  display: inline-block;
  width: 225px;
  font-size: 12px;
  padding: 12px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 19.2px;
}

/* section5 */
#section5 {
  margin: auto;
}

#Midashiimg4 {
  position: relative;
  display: inline;
  height: 0.5px;
  left: 50%;
  width: 100%;
}

#Midashiimg4::before {
  content: '';
  display: inline-block;
  position: absolute;
  background-image: url(../../common/image/h2_bg.png);
  background-size: contain;
  width: 220px;
  height: 40px;
  top: -8px;
  left: -110px;
}
#section5 h2 {
  margin-top: 68px;
}

#section5 h2 {
  margin-top: 106px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 48px;
}














#section5 {
  width: 78%;
  margin-bottom: 130px;
}

#section5 li {
  font-size: 12px;
  line-height: 19.2px;
}

#section5 table {
  font-size: 12px;
  line-height: 19.2px;
  border-spacing: 10px 0px;
  border-collapse: collapse;
}

#theade {
  font-size: 12px;
  line-height: 19.2px;
}

@media screen and (min-width: 767px) {

  #Formosa1 {
    display: flex;

  }

  .introimg {
    display: block;
    width: 47%;
    height: 140px;
    margin: 0;
    flex-basis: 55%;
  }

  #Formosa1 div {
    display: inline-block;
    flex-basis: 45%;
    vertical-align: center;
  }



}