@charset "UTF-8";


/* section1 bg調整 */
#Formasa1 {
  background-image: url(../../top/image/intro_img01_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  text-align: center;
  height: 408px;;
}

#Formasa2 {
  background-image: url(../../top/image/intro_img02_bg.jpg);
}

/* イントロ写真調整 */
#formasaimg {
  display: lnline-block;
  width:35px;
  height: 24px;
}

.introimg {
  display: block;
  margin: auto;
  width: 89%;
  height: 180px;
}