@charset "UTF-8";

/* --------------------main-------------------- */
main {
    margin: 0 40px 0 8px;
}

main div.kasou {
    margin: 0 0 0 32px;
}

/* ---パンくず--- */
main nav ul {
    display: flex;
}

main nav ul li.previous-screen {
    text-transform: capitalize;
    text-decoration-line: underline;

    margin-right: 4px;
}

/* ---パンくず--- */

/* --------------------main-------------------- */

@media screen and (min-width: 767px) {

    /* --------------------main-------------------- */
    main {
        margin: 0 20px;
    }

    main div.kasou {
        margin: 0px;
    }


}


/* --------------------main-------------------- */