@charset "UTF-8";


/* --------------------main-------------------- */
main div.kasou-main {
    text-align: center;
}

main div.kasou-main h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.3em;
    margin-bottom: 20px;
}

main div.kasou-main img {
    width: 100%;
    margin-bottom: 20px;
}

main div.kasou-main div.text-align-change {
    text-align: left;
}


/* -----------------見出し 共有-------------------------------------*/
/* 疑似要素の親 */
.Midashi {
    font-size: 24px;
    text-align: center;
    margin-bottom: 48px;
}

.Midashi span {
    font-size: 12px;
}

.Midashiimg {
    position: relative;
    height: 0.5px;


    /* 見出しの基準位置変更場所％で指定してください------- */
    left: 50%;
    /* --------------------------------------------------- */
}

.Midashiimg::before {

    /* 画像サイズurl変更場所------------------------------ */
    background-image: url(../../common/image/h2_bg.png);
    width: 220px;
    height: 40px;
    top: -8px;
    left: -110px;
    /* --------------------------------------------------- */
}

/* ----------------------------------------------------- */


main div.kasou-main section.attraction {
    margin-top: 40px;
    margin-bottom: 40px;
}

section.attraction h3 {
    margin-top: 60px;
}


section.attraction p.attraction-ex {
    background: rgba(237, 161, 132, 0.2);
    font-size: 12px;
    line-height: 19.2px;
    padding: 20px 16px;
    margin-bottom: 20px;
}

section.attraction p.attraction-exs {
    margin-bottom: 60px
}



section.museum p.museum {
    width: 76%;
    /* 225/295=0.763 */
    font-size: 12px;
    line-height: 19.2px;
    padding: 12px 0;
    margin: 0px auto;
    margin-bottom: 40px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;

}


section.museum div#museum {
    text-align: left;
}

section.museum div#museum div.museum-elements {
    margin-bottom: 40px;
}

section.museum div#museum div#taichung {
    margin-bottom: 60px;
}

section.museum div#museum p.subtitle {
    font-size: 12px;
    line-height: 22.5px;
}

section.museum div#museum p.hall-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 22.5px;
    margin-bottom: 12px;

}

section.museum div#museum img {
    margin-bottom: 12px;
    object-fit: cover;
}

section.museum div#museum p.explanation {
    font-size: 12px;
    line-height: 19.2px;
    margin-bottom: 12px;

}

section.museum div#museum div.button {
    display: flex;
    justify-content: right;
}

section.museum div#museum div button {
    font-size: 12px;
    /* border: 2px solid rgba(1, 128, 190, 0.5); */
    /* padding: 12px; */
}


section.museum div#museum button span.arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgb(1, 128, 190);
    /* (√2*7)/2＝5.94 */

    margin-left: 7.1px;

}






section.sweets p {
    font-size: 12px;
    margin-bottom: 20px;

}

section.sweet div#grids img#ophthalmology {
    margin-bottom: 20px;
}

section.sweets div#grid div#Instore-coffee {
    width: 100%;
    display: flex;
    object-fit: cover;
}

section.sweets div#grid div#Instore-coffee img {
    width: 50%;
    /* 140/295=0.47 */
    margin-bottom: 0px;

}

section.sweets div#grid div#Instore-coffee img#calc {
    padding-right: 15px;
}

section.sweets div#grid img#sweets-set {
    margin-bottom: 60px;
}










/* --------------------main-------------------- */

@media screen and (min-width: 767px) {

    /* --------------------main-------------------- */

    main div.kasou-main {
        text-align: left;
    }

    main div.kasou-main h3 {
        text-align: left;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0.3em;
        margin-bottom: 20px;
    }

    main div.kasou-main img {
        width: 44%;
        /* 600/1366=0.44 */
        margin-right: 40px;
        margin-bottom: 0px;
    }

    /* main div.kasou-main div.text-align-change { */
    /* } */



    /* -----------------見出し 共有-------------------------------------*/
    /* 疑似要素の親 */
    .Midashi {
        font-size: 48px;
        text-align: left;

        margin-left: 8%;

        margin-bottom: 48px;
    }

    .Midashi span {
        font-size: 24px;
    }

    .Midashiimg {
        position: relative;
        height: 0.5px;


        /* 見出しの基準位置変更場所％で指定してください------- */
        left: 9%;
        /* --------------------------------------------------- */
    }

    .Midashiimg::before {

        /* 画像サイズurl変更場所------------------------------ */
        background-image: url(../../common/image/h2_bg.png);
        width: 530px;
        height: 96px;
        top: -15px;
        /* 45(線と画像の底辺が同じ時)-24(スペース量)=21px */
        left: -110px;
        /* --------------------------------------------------- */
    }

    /* ----------------------------------------------------- */

    main div.kasou-main section.attraction {
        margin-top: 80px;

        margin-bottom: 120px;
    }


    section.attraction h3 {
        margin-top: 104px;
        /* 24(h2から見出し画像底辺までの距離)+80＝104 */
    }

    section.attraction p.attraction-ex {
        background: rgba(237, 161, 132, 0.2);
        font-size: 20px;
        line-height: 32px;
        padding: 20px 20px;
        margin: 0px;
    }

    section.attraction p.attraction-exs {
        margin-bottom: 0px;
    }

    section.attraction div#gaomei-wetland {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
    }

    section.attraction div#lowtide-sunset {
        display: flex;
        margin-bottom: 120px;
        align-items: center;
    }

    section.attraction h3#rainbow-village-h3 {
        margin-top: 120px;
    }

    section.attraction div#rainbow-village {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
    }

    section.attraction div#rainbow-village-2 {
        display: flex;
        margin-bottom: 120px;
        align-items: center;
    }




    main div.kasou-main section.museum div#structural-change {
        display: flex;
        column-gap: 58px;
    }

    section.museum div#structural-change div#tentative,
    section.museum div#structural-change div#midasi-explanation {
        width: 50%;
    }

    /* ミュージアムの見出し画像 微調整 */
    section.museum div#structural-change div#midasi-explanation div.Midashiimg {
        margin-left: 5%;
        top: 24px;
    }

    /* ミュージアムの見出し文字 微調整 */
    section.museum div#structural-change div#midasi-explanation h2 {
        margin-left: 25%;

    }


    section.museum div#museum div#museum-element-1,
    section.museum div#museum div#museum-element-2 {
        display: flex;
        column-gap: 58px;
    }

    section.museum div#museum div.museum-elements,
    section.museum div#museum div#taichung {
        width: 50%;
    }


    section.museum p.museum {
        width: 76%;
        /* 225/295=0.763 */
        font-size: 20px;
        line-height: 32px;
        padding: 20px;
        /* margin: 0px auto; */
        margin-top: 104px;
        /* 24(h2から見出し画像底辺までの距離)+80＝104 */
        margin-bottom: 80px;
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;

    }


    section.museum div#museum {
        text-align: left;
    }

    section.museum div#museum div.museum-elements {
        margin-bottom: 60px;
    }

    section.museum div#museum div#taichung {
        margin-bottom: 0px;
    }

    section.museum div#museum div#museum-element-2 {
        margin-bottom: 120px;

    }

    section.museum div#museum p.subtitle {
        font-size: 24px;
        line-height: 45px;
    }

    section.museum div#museum p.hall-name {
        font-size: 36px;
        font-weight: bold;
        line-height: 45px;
        margin-bottom: 20px;

    }

    section.museum div#museum img {
        margin-bottom: 20px;
        object-fit: cover;
        width: 100%;

        margin-right: 0;
    }

    section.museum div#museum p.explanation {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px;

    }

    section.museum div#museum div.button {
        /* width: 100%; */
        /* 210/1033=0.20 */
        display: block;
        display: flex;
        justify-content: right;
        align-items: end;
    }

    section.museum div#museum div button {
        font-size: 20px;
        /* border: 2px solid rgba(1, 128, 190, 0.5); */
        /* padding: 21px 27px; */
    }


    section.museum div#museum button span.arrow {
        display: inline-block;
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid rgb(1, 128, 190);
        /* (√2*14)/2＝9.89 */

        margin-left: 6px;

    }



    main div.kasou-main section.sweets h3 {
        margin-top: 104px;
        /* 24(h2から見出し画像底辺までの距離)+80＝104 */
        margin-bottom: 40px;
    }

    section.sweets p {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 0px;
    }


    section.sweets p.sweets {
        width: 48%;
        /* 420/877.13=0.48 */
        font-size: 20px;
        line-height: 32px;
        padding: 20px 0;
        margin-bottom: 60px;
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
    }

    section.sweets div#miyahara-ophthalmology {
        display: flex;
        align-items: center;

        column-gap: 40px;
        margin-bottom: 40px;


    }

    section.sweets img#ophthalmology {
        width: 47.5%;
        margin-bottom: 0px;
        margin-right: 0;
    }

    section.sweets div#grid {
        display: grid;
        grid-template-rows: 77% 23%;
        grid-template-columns: 47.5% 5% 47.5%;
        /* 300/388=0.77 */
        /* 50/(580+50+480)=0.045 */
    }




    section.sweets div#grid div#Instore-coffee {
        width: 100%;
        /* 388/ */
        display: flex;
        object-fit: cover;

        grid-row: 1/3;
        grid-column: 1/2;
    }

    section.sweets div#grid div#Instore-coffee img {
        width: 50%;
        /* 140/295=0.47 */
        margin-bottom: 0px;
        margin-right: 0px;

    }

    section.sweets div#grid div#Instore-coffee img#calc {
        padding-right: 20px;
    }

    section.sweets div#grid p#explanation {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    section.sweets div#grid img#sweets-set {
        object-fit: cover;
        margin: 0;
        margin-bottom: 0px;
        grid-row: 1/2;
        grid-column: 3/4;
        width: 100%;
        height: 100%;
    }


    /* --------------------main-------------------- */
}

/* モーダル */

p.modal-start {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    padding-top: 80px;
    margin-bottom: 20px;
}

img.img-top {
    margin-right: 15px;
}


div.modal-end {
    text-align: left;
}

p.business-hours {
    width: 79%;
    /* (140*2+15)/375=0.786 */
    font-weight: bold;
    font-size: 12px;
    line-height: 19.2px;
    color: #ffffff;
    margin: 0 40px;

}

/* モーダルウィンドウ */
/* -----------ボタンスタイル変更場所------------ */
#modal-openbutton {
    position: inherit;
    border: 2px solid rgba(1, 128, 190, 0.5);
    width: 120px;
    height: 36px;
    font-size: 12px;
    text-align: center;
}

/* --------------------------------------------- */
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    /* ----------------モーダル背景色変更場所------------------------- */
    background-color: #0180BE;
    z-index: 99;
    /* --------------------------------------------------------------- */
}

/* クラス付与 */
.Opening {
    visibility: visible;
    animation: modalanime forwards 0.5s ease-in 0s 1;
}

@keyframes modalanime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 閉じるボタンdiv */
.modalclose {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 99%;
    width: 1px;
    height: 1px;
}

/* ばってん疑似要素 */
.modalclose::before {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-top: 8px solid #000;
    cursor: pointer;
    rotate: 45deg;
}

.modalclose::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -12px;
    width: 40px;
    height: 40px;
    border-top: 8px solid #000;
    cursor: pointer;
    rotate: -45deg;
}

/*----------------------- モーダルの中身スタイル変更場所SP--------------- */
.modal img {
    width: 140px;
    height: 140px;
    margin-top: 0;
    margin-bottom: 20px;
    box-shadow: none;
}

/* ----------------------------------------------------------------
    spモーダルコンテンツSP版の上部マージンは80px */





/* モーダル2 */
/* モーダルウィンドウ */
/* -----------ボタンスタイル変更場所------------ */
#modal-openbutton2 {
    position: inherit;
    border: 2px solid rgba(1, 128, 190, 0.5);
    width: 120px;
    height: 36px;
    font-size: 12px;
    text-align: center;
}

/* ------------------------------------------------ */
.modal2 {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    /* ----------------モーダル背景色変更場所------------------------- */
    background-color: #0180BE;
    z-index: 99;
    /* --------------------------------------------------------------- */
}

/* クラス付与 */
.Opening2 {
    visibility: visible;
    animation: modalanime forwards 0.5s ease-in 0s 1;
}

@keyframes modalanime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 閉じるボタンdiv */
.modalclose2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 99%;
    width: 1px;
    height: 1px;
}

/* ばってん疑似要素 */
.modalclose2::before {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-top: 8px solid #000;
    cursor: pointer;
    rotate: 45deg;
}

.modalclose2::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -12px;
    width: 40px;
    height: 40px;
    border-top: 8px solid #000;
    cursor: pointer;
    rotate: -45deg;
}

/*----------------------- モーダルの中身スタイル変更場所SP--------------- */
.modal2 img {
    width: 140px;
    height: 140px;
    margin-top: 0;
    margin-bottom: 20px;
    box-shadow: none;
}

/* ----------------------------------------------------------------------
    spモーダルコンテンツSP版の上部マージンは80px */




/* モーダル3 */
/* モーダルウィンドウ */
/* -----------ボタンスタイル変更場所------------ */
#modal-openbutton3 {
    position: inherit;
    border: 2px solid rgba(1, 128, 190, 0.5);
    width: 120px;
    height: 36px;
    font-size: 12px;
    text-align: center;
}

/* ---------------------------------------------- */
.modal3 {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    /* ----------------モーダル背景色変更場所------------------------- */
    background-color: #0180BE;
    z-index: 99;
    /* --------------------------------------------------------------- */
}

/* クラス付与 */
.Opening3 {
    visibility: visible;
    animation: modalanime forwards 0.5s ease-in 0s 1;
}

@keyframes modalanime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 閉じるボタンdiv */
.modalclose3 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 99%;
    width: 1px;
    height: 1px;
}

/* ばってん疑似要素 */
.modalclose3::before {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-top: 8px solid #000;
    cursor: pointer;
    rotate: 45deg;
}

.modalclose3::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -12px;
    width: 40px;
    height: 40px;
    border-top: 8px solid #000;
    cursor: pointer;
    rotate: -45deg;
}

/*----------------------- モーダルの中身スタイル変更場所SP--------------- */
.modal3 img {
    width: 140px;
    height: 140px;
    margin-top: 0;
    margin-bottom: 20px;
    box-shadow: none;
}

/* ----------------------------------------------------------------
    spモーダルコンテンツSP版の上部マージンは80px */




/* モーダル4 */
/* モーダルウィンドウ */
/* -----------ボタンスタイル変更場所------------ */
#modal-openbutton4 {
    position: inherit;
    border: 2px solid rgba(1, 128, 190, 0.5);
    width: 120px;
    height: 36px;
    font-size: 12px;
    text-align: center;
}

/* ----------------------------------------------- */

.modal4 {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    /* ----------------モーダル背景色変更場所------------------------- */
    background-color: #0180BE;
    z-index: 99;
    /* --------------------------------------------------------------- */
}

/* クラス付与 */
.Opening4 {
    visibility: visible;
    animation: modalanime forwards 0.5s ease-in 0s 1;
}

@keyframes modalanime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 閉じるボタンdiv */
.modalclose4 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 99%;
    width: 1px;
    height: 1px;
}

/* ばってん疑似要素 */
.modalclose4::before {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-top: 8px solid #000;
    cursor: pointer;
    rotate: 45deg;
}

.modalclose4::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -12px;
    width: 40px;
    height: 40px;
    border-top: 8px solid #000;
    cursor: pointer;
    rotate: -45deg;
}

/*----------------------- モーダルの中身スタイル変更場所SP--------------- */
.modal4 img {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    box-shadow: none;
}

/* ----------------------------------------------------------------
    spモーダルコンテンツSP版の上部マージンは80px */



@media screen and (min-width: 767px) {

    p.modal-start {
        font-weight: bold;
        font-size: 36px;
        color: #ffffff;
    }


    img.img-top {
        margin-right: 60px;
    }

    div.modal-end {
        text-align: left;
    }

    p.business-hours {
        width: 57%;
        /* (360*2+60)/1366=0.57 */
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: #ffffff;
        margin: 0 auto;

    }

    /* PC版モーダル1 */
    #modal-openbutton {
        position: inherit;
        border: 2px solid rgba(1, 128, 190, 0.5);
        width: 210px;
        height: 63px;
        font-size: 20px;
        text-align: center;
    }

    .modal img {
        width: 360px;
        height: 360px;

        /* width: 33%;
        height: auto; */
    }

    /* PC版モーダル2 */
    #modal-openbutton2 {
        position: inherit;
        border: 2px solid rgba(1, 128, 190, 0.5);
        width: 210px;
        height: 63px;
        font-size: 20px;
        text-align: center;
    }

    .modal2 img {
        width: 360px;
        height: 360px;
        /* 
        width: 33%;
        height: auto; */
    }

    /* PC版モーダル3 */
    #modal-openbutton3 {
        position: inherit;
        border: 2px solid rgba(1, 128, 190, 0.5);
        width: 210px;
        height: 63px;
        font-size: 20px;
        text-align: center;
    }

    .modal3 img {
        width: 360px;
        height: 360px;

        /* width: 33%;
        height: auto; */
    }

    /* PC版モーダル4 */
    #modal-openbutton4 {
        position: inherit;
        border: 2px solid rgba(1, 128, 190, 0.5);
        width: 210px;
        height: 63px;
        font-size: 20px;
        text-align: center;
    }

    .modal4 img {
        width: 360px;
        height: 360px;

        /* width: 33%;
        height: auto; */
    }

    /* -------------------------------------------------------------- 
  pcモーダルコンテンツPC版の上部マージンは120px*/
}